In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1 ={
    "name": ['a','d','s','g','e','c','g','s'],
    "class":[5,52,4,2,4,24,2,7],
    "place":['jn', 'gj', 'rj', 'bh','lk','kh','lk','ko']
}

In [3]:
d1 = pd.DataFrame(dict1)
print(d1)

  name  class place
0    a      5    jn
1    d     52    gj
2    s      4    rj
3    g      2    bh
4    e      4    lk
5    c     24    kh
6    g      2    lk
7    s      7    ko

In [4]:
d1.to_csv("smaple_data.csv")

In [5]:
d1.describe()

          class
count   8.00000
mean   12.50000
std    17.50102
min     2.00000
25%     3.50000
50%     4.50000
75%    11.25000
max    52.00000

changeing excle file to csv

In [6]:
# sec_d = pd.read_excel('section_d.xlsx')
# sec_d.to_csv('section_d.csv')

In [7]:
sec_d=pd.read_csv('section_d.csv')

sec_d.head()

,Unnamed: 0,Name,Recipient,Phone Number
0,0,Dheeraj Jangid,dheerajjangid013@gmail.com,9.351377e+09
1,1,Utkansha Vashistha,utkanshavashistha2029@gmail.com,7.790932e+09
2,2,Siya Beniwal,siyabeniwal24@gmail.com,9.799560e+09
3,3,Sakshat,sakshat678@gmail.com,8.005658e+09
4,4,Himanshu Kaushik,himanshukaushik00000@gmail.com,7.852001e+09

In [8]:
sec_d['Phone Number'][43]= 8690365569

C:\Users\anupam kumar\AppData\Local\Temp\ipykernel_23680\256345759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sec_d['Phone Number'][43]= 8690365569

In [9]:
sec_d['Phone Number'][43]

8690365569.0

In [10]:
sr = pd.Series(np.random.rand(7))
sr

0    0.709604
1    0.490188
2    0.560074
3    0.559405
4    0.734307
5    0.569865
6    0.980531
dtype: float64

In [11]:
type(sr)

pandas.core.series.Series

In [12]:
sec_d_names = sec_d

In [13]:
sec_d["Name"].head()

0        Dheeraj Jangid
1    Utkansha Vashistha
2          Siya Beniwal
3               Sakshat
4      Himanshu Kaushik
Name: Name, dtype: object

In [14]:
sec_d_names["Name"][3]= "chumatiya"

C:\Users\anupam kumar\AppData\Local\Temp\ipykernel_23680\2378348589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sec_d_names["Name"][3]= "chumatiya"

In [15]:
sec_d.head()

,Unnamed: 0,Name,Recipient,Phone Number
0,0,Dheeraj Jangid,dheerajjangid013@gmail.com,9.351377e+09
1,1,Utkansha Vashistha,utkanshavashistha2029@gmail.com,7.790932e+09
2,2,Siya Beniwal,siyabeniwal24@gmail.com,9.799560e+09
3,3,chumatiya,sakshat678@gmail.com,8.005658e+09
4,4,Himanshu Kaushik,himanshukaushik00000@gmail.com,7.852001e+09

In [16]:
sec_d.loc[1,"Name"] = "hottie"

In [17]:
sec_d.head(4)

   Unnamed: 0            Name                        Recipient  Phone Number
0           0  Dheeraj Jangid       dheerajjangid013@gmail.com  9.351377e+09
1           1          hottie  utkanshavashistha2029@gmail.com  7.790932e+09
2           2    Siya Beniwal          siyabeniwal24@gmail.com  9.799560e+09
3           3       chumatiya             sakshat678@gmail.com  8.005658e+09

In [18]:
sec_d.drop("Phone Nubmer", axis= 1, inplace = True)

KeyError: "['Phone Nubmer'] not found in axis"

In [21]:
rows = list("ABCDE")
data = {
    [6,8,0,9],
    [3,7,9,9],
    [4,24,2,44],
    [3,5,2,5],
    [5,3,5,2]
}
statistics_data= pd.DataFrame(data, index= rows)

TypeError: unhashable type: 'list'

In [ ]:
statistics_data.index()

In [22]:
data_F1 = pd.DataFrame([[2,35,3],[4,42,42],[54,43,23]], columns=['A','B','C'])

In [23]:
data_F1

    A   B   C
0   2  35   3
1   4  42  42
2  54  43  23

In [36]:
data_F2 = pd.DataFrame([[2,35,3],[4,44,2],[54,23,26]], columns=['X','Y','Z'])

In [37]:
data_F2

    X   Y   Z
0   2  35   3
1   4  44   2
2  54  23  26

In [39]:
data_F3= pd.merge(data_F1,data_F2, left_on='X', right_on='A')

KeyError: 'A'

In [30]:
data_F3

     X   Y   Z
0    2  35   3
1    4  44   2
2  342  23  26