In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [12]:
df= pd.read_csv('hiring.csv')
df

   exp  test score  interview score  salary
0  NaN           8                9   20000
1  NaN           9               10   25000
2  5.0           5                1   30000
3  3.0           8                8  250500
4  2.0           4                9   21000
5  3.0           9                2   28000
6  2.0           3                7   45000

In [18]:
# filling the NA values in experience
import math
df.exp = df.exp.fillna(df.exp.median())
df

   exp  test score  interview score  salary
0  3.0           8                9   20000
1  3.0           9               10   25000
2  5.0           5                1   30000
3  3.0           8                8  250500
4  2.0           4                9   21000
5  3.0           9                2   28000
6  2.0           3                7   45000

In [21]:
model = linear_model.LinearRegression()
model.fit(df.drop('salary', axis='columns'),df.salary)

LinearRegression()

In [25]:
model.predict([[100,10,10]])

c:\Users\anupam kumar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([674111.0587792])

In [27]:
#exporting the trained model
import pickle
with open('modle.pickle','wb') as file:
    pickle.dump(model,file)

In [32]:
#using that file or model by opening that file in reading mode, 
#so all the parameters that are calculated in our actual model, is saved in that file
with open('modle.pickle','rb') as f :
    salary_predictor = pickle.load(f)

In [33]:
#now we can use salary predictor for using our model

salary_predictor.predict([[100,10,10]])

c:\Users\anupam kumar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([674111.0587792])